<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Move files</title>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/context.bootstrap.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/context.bootstrap.css}"/>
    <link href="../../../resources/css/context.standalone.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/context.standalone.css}"/>
    <link href="../../../resources/css/jquery-ui.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/jquery-ui.css}"/>
    <link href="../../../resources/css/styles.css" rel="stylesheet" th:href="@{/resources/css/styles.css}"/>

</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">


    <input type="hidden" id="cloudStorage" th:value="${cloudFolder.getCloudStorage()}">

    <div class="filemanager">

        <div class="btn-group" role="group" th:each="path : ${cloudFolder.getPath()}" aria-label="Basic example">
            <form th:action="${cloudFolder.getCloudStorage()}+'/folder'" method="get">
                <input type="hidden" name="path" th:value="${path.getKey()}"/>
                <input type="submit" class="btn btn-secondary" th:value='${path.getValue()}'/>
            </form>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <input id="createNewFolder" type="submit" class="btn btn-secondary" value="New folder"/>
            <form id="uploadFileForm" method="POST" th:action="${cloudFolder.getCloudStorage()}+'/uploadFile'"
                  enctype="multipart/form-data">
                <!--<input type="file" name="file">-->
                <input id="uploadFilePath" type="hidden" name="path" th:value="${cloudFolder.getCurrentPath()}"/>
                <input id="uploadFile" type="file" name="file" class="filestyle" data-input="false"/>
            </form>

        </div>

        <ul class="data" th:if="${!cloudFolder.getFolders().isEmpty() or !cloudFolder.getFiles().isEmpty()}">
            <li th:each="folder : ${cloudFolder.getFolders()}" class="folders context-menu-folder">
                <a th:href="${cloudFolder.getCloudStorage()}+'/folder?path=' + ${folder.getPath()}"
                   th:title="${folder.getShowName()}"
                   class="folders">
                    <input type="hidden" name="documentLink" th:value="${folder.getPath()}"/>
                    <span class="icon folder">     </span> <span class="name">
                    <p th:text="${folder.getShowName()}"/></span>
                </a>
            </li>

            <li th:each="file : ${cloudFolder.getFiles()}" class="files context-menu-file">
                <a th:href="${cloudFolder.getCloudStorage()}+'/download?path=' + ${file.getPath()}"
                   th:title="${file.getShowName()}"
                   class="files">
                    <input type="hidden" name="documentLink" th:value="${file.getPath()}"/>
                    <span th:class="'icon file f-' + ${file.getFileType()}"><p th:text="${file.getFileType()}"/></span>
                    <span class="name"><p th:text="${file.getShowName()}"/></span>
                    <span class="details"><p th:text="${file.getSize()}"/></span>
                </a></li>

        </ul>

        <div class="nothingfound">
            <div class="nofiles"></div>
            <span>No files here.</span>
        </div>

        <div style="display: none">

            <div id="dialog-message-fail" title="Fail">
                <p>
                    Something wrong. Please, try again later.
                </p>
            </div>

            <div id="dialog-message-ok" title="Complete">
                <p>
                    Success!
                </p>
            </div>

            <div id="dialog-message-confirm-delete" title="Delete confirmation">
                <p>
                    Are you sure to delete?
                </p>
            </div>

            <div id="createNewFolderDialog" title="Create new folder">
                <form>
                    <fieldset>
                        <label for="name">Folder name</label>
                        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/layout :: footer"></div>

<!-- Include our script files -->
<script src="../../../resources/js/jquery-1.11.0.min.js" th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
<script src="../../../resources/js/jquery-ui.js" th:src="@{/resources/js/jquery-ui.js}"></script>
<script src="../../../resources/js/context.js" th:src="@{/resources/js/context.js}"></script>
<script src="../../../resources/js/file-explorer.js" th:src="@{/resources/js/file-explorer.js}"></script>

</body>
</html>